/* 웹폰트 Pretendard import (CDN) */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

/* Tailwind CSS 설정 */
@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-25: #f8f8f8;
  --color-gray-50: #edeef2;
  --color-gray-100: #e0e0e5;
  --color-gray-200: #c6c8cf;
  --color-gray-300: #b3b4bc;
  --color-gray-400: #9fa0a7;
  --color-gray-500: #84858c;
  --color-gray-600: #707177;
  --color-gray-700: #5d5d61;
  --color-gray-800: #49494c;
  --color-gray-900: #323236;
  --color-gray-950: #1f1f22;
  --color-primary-100: #e5f3ff;
  --color-primary-500: #3d9ef2;
  --color-red: #eb5757;

  --spacing: 0.0625rem;

  --text-11-m: 0.688rem;
  --text-11-m--font-weight: 500;
  --text-11-b: 0.688rem;
  --text-11-b--font-weight: 700;
  --text-12-m: 0.75rem;
  --text-12-m--font-weight: 500;
  --text-12-b: 0.75rem;
  --text-12-b--font-weight: 700;
  --text-13-m: 0.813rem;
  --text-13-m--font-weight: 500;
  --text-13-b: 0.813rem;
  --text-13-b--font-weight: 700;
  --text-14-m: 0.875rem;
  --text-14-m--font-weight: 500;
  --text-14-b: 0.875rem;
  --text-14-b--font-weight: 700;
  --text-16-m: 1rem;
  --text-16-m--font-weight: 500;
  --text-16-b: 1rem;
  --text-16-b--font-weight: 700;
  --text-18-m: 1.125rem;
  --text-18-m--font-weight: 500;
  --text-18-b: 1.125rem;
  --text-18-b--font-weight: 700;
  --text-20-m: 1.25rem;
  --text-20-m--font-weight: 500;
  --text-20-b: 1.25rem;
  --text-20-b--font-weight: 700;
  --text-24-m: 1.5rem;
  --text-24-m--font-weight: 500;
  --text-24-b: 1.5rem;
  --text-24-b--font-weight: 700;
  --text-32-m: 2rem;
  --text-32-m--font-weight: 500;
  --text-32-b: 2rem;
  --text-32-b--font-weight: 700;

  /* body용 커스텀 클래스 */
  --text-14-body-m: 0.875rem;
  --text-14-body-m--font-weight: 500;
  --text-14-body-m--line-height: 1.625;

  --text-16-body-m: 1rem;
  --text-16-body-m--font-weight: 500;
  --text-16-body-m--line-height: 1.625;

  --text-18-body-b: 1.125rem;
  --text-18-body-b--font-weight: 700;
  --text-18-body-b--line-height: 1.625;

  --text-20-body-b: 1.25rem;
  --text-20-body-b--font-weight: 700;
  --text-20-body-b--line-height: 1.625;

  --shadow-card: 0 4px 24px rgba(156, 180, 202, 0.2);
}

/* 커스텀 그림자(쉐도우) */
.shadow-custom-5 {
  /* 값: x:0, y:4, blur:16, spread:0, 색상:#112211, 투명도:5% */
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}

/* 기본 스타일 설정 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard', sans-serif;
}
/* date input 스타일 수정 */
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input[type='date']::-webkit-input-placeholder {
  color: #bdbdbd;
}
input[type='date']::-moz-placeholder {
  color: #bdbdbd;
}
input[type='date']:-ms-input-placeholder {
  color: #bdbdbd;
}
input[type='date']::placeholder {
  color: #bdbdbd;
}
